    /* 
    Write your CSS here 
    Gap Colour: #000
    White: #F0F1EC
    Red: #E72F24
    Black: #232629
    Blue: #004592
    Yellow: #F9D01E

    For dimensions, see dimensions.png image.
    HINT: Remember you can't change the properties of grid lines.
    But grid lines are transparent!
    */
    body{
      background-color: #fcfcfc;
      display: flex;
      justify-content: center;
    }
    .container{
        display: grid;
        grid-template-columns: 320px 360px;
        grid-template-rows: 414px 300x;
        gap: 9px;
        width: 748px;
        height: 748px;
        border: solid 0.5px rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        /* background-color: rgb(1, 104, 66); */
      }
      .red{
        background-color: #E72F24;
        width: 320px;
        height: 414px;
      }
      .white-1{
        background-color: #F0F1EC;
        width: 419px;
        height: 414px;
        grid-area: 1/2/2/4;
      }
      .white-2{
        background-color: #F0F1EC;
        width: 320px;
        height: 295px;
      }
      .white-3{
        background-color: #F0F1EC;
        width: 360px;
        height: 295px;
      }
      .blue{
        background-color: #004592;
        width:50px;
        height: 130px;
        grid-area: 2/3/2/4;
      }
      .white-5{
        background-color: #F0F1EC;
        width: 50px;
        height: 175px;
        grid-area: 2/3/4/4;
        display: flex;
        align-self: flex-end;
      }
      .black-2{
        background-color: rgb(0, 0, 0);
        width: 50px;
        height: 10px;
        grid-area: 2/3/3/4;
        display: flex;
        align-self: center;
      }
      .white-4{
        background-color: #F0F1EC;
        width: 320px;
        height: 21px;
      }
      .yellow{
        background-color: #F9D01E;
        width: 198px;
        height: 21px;
        grid-area: 3/2/4/3;
      }
      .black{
        background-color: rgb(30, 30, 30);
        width: 153px;
        height: 21px;
        grid-area: 3/2/4/3;
        order: 3;
      }

    .z{
        display: flex;
        justify-content: space-between;
    }